/Users/jshleap/Playground/Insight/HiddenKeywords/resources/apis.txt
/Users/jshleap/Playground/Insight/HiddenKeywords/resources/Wordextender-21f3e282567d.p12
/Users/jshleap/Playground/Insight/HiddenKeywords/scripts/__dataforseo_credentials__.py
/Users/jshleap/Playground/Insight/ADvantage/venv
/venv/
/ADvantage/resources/googleads.yaml
/ADvantage/resources/googleads_old.yaml
